[submodule "extradite"]
	path = extradite
	url = https://github.com/int3/vim-extradite
[submodule "emmet"]
	path = emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "localvimrc"]
	path = localvimrc
	url = https://github.com/vim-scripts/localvimrc.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "python"]
	path = python
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "CSScomb-for-Vim"]
	path = CSScomb-for-Vim
	url = https://github.com/miripiruni/CSScomb-for-Vim.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim-jst"]
	path = vim-jst
	url = git@github.com:briancollins/vim-jst.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts.git
[submodule "fish.vim"]
	path = fish.vim
	url = git@github.com:kergoth/fish.vim.git
[submodule "vim-jade"]
	path = vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "greplace"]
	path = greplace
	url = git@github.com:yegappan/greplace.git
[submodule "Nvim-R"]
	path = Nvim-R
	url = git@github.com:jalvesaq/Nvim-R.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "rust.vim"]
	path = rust.vim
	url = git@github.com:wting/rust.vim.git
[submodule "vim-json"]
	path = vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim-hashicorp-tools"]
	path = vim-hashicorp-tools
	url = https://github.com/hashivim/vim-hashicorp-tools.git
[submodule "papercolor-theme"]
	path = papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim-nerdtree-tabs"]
	path = vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim-php-cs-fixer"]
	path = vim-php-cs-fixer
	url = git@github.com:stephpy/vim-php-cs-fixer.git
[submodule "ale"]
	path = ale
	url = git@github.com:dense-analysis/ale.git
